{% extends 'html/base.html' %}

{% block title %}{% endblock %}

{% block content %}
{% trans "Enter password" as password_placeholder %}

<div class="row">
    <div class="col-sm-offset-4 col-sm-4 text-center">

        <img src="https://avanceio-wapp.s3.amazonaws.com/img/avance-white.png" style="padding-top: 20px; width: 240px; height: auto;">

        <br>
        <br>

        <div class="panel panel-default">

            <div class="panel-body">

                <h2 class="ng-binding">{{ password_placeholder }}</h2>

                <hr>

                {% include 'html/generic/vertical_form.html' %}

            </div>

        </div>

    </div>
</div>
{% endblock %}
