<div class="row">
    <div class="col-sm-12">
        <spinner collection="items"></spinner>
        <div class="table-responsive" ng-show="items.length > 0">
            <table class="table table-striped table-with-buttons">
                <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th class="text-right">{{ 'users' | translate }}</th>
                        <th class="text-right" ng-if="filterable">{{ 'total' | translate }}</th>
                        <!-- <th class="text-right">{{ 'created' | translate }}</th> -->
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items" ng-class="{danger: item.user_count === 0}" ui-sref="reporter.overview({id: item.id})">
                        <td>{{ item.name }}</td>
                        <td class="text-right">{{ item.user_count || 0 }}</td>
                        <td class="text-right" ng-show="filterable">
                            <ng-include src="'reusables/metric-variations.html'"></ng-include>
                        </td>
                        <!-- <td class="text-right"><span am-time-ago="item.created_at"></span></td> -->
                        <td class="text-right" ng-init="isRemovable = false;">
                            <span ng-show="item.user_count === 0" tooltip="{{ 'tooltip.no_users' | translate }}">
                                <i class="entypo entypo-warning gray-light"></i>
                            </span>
                            <a ui-sref="reporter.overview({id: item.id})" class="btn btn-default btn-sm">
                                <i class="entypo entypo-chevron-with-circle-right"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>