<nav class="navbar navbar-landing" role="navigation">
    <div class="container visible-xs">
        <div class="col-sm-12">
            <span class="glyphicon glyphicon-menu-hamburger" ng-click="navBarCollapse = !navBarCollapse"></span>
        </div>
    </div>


    <div class="container text-center" collapse="navBarCollapse">
        <ul class="nav navbar-nav navbar-inline">
            <!--<li><a href="" ng-click="scrollToId('how-it-works')">Så funkar det</a></li>-->
            <!--<li><a href="" ng-click="scrollToId('pricing')">Produkter</a></li>-->
            <!--<li><a href="" ng-click="scrollToId('about')">Om oss</a></li>-->
            <!--<li><a href="" ng-click="scrollToId('contact')">Kontakt</a></li>-->
            <li class="pull-right"><a class="" ui-sref="login">Log in</a></li>
        </ul>
    </div>
</nav>

