<div class="container-fluid">

    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 text-center">

            <img ng-src="{{ 'img/avance-white.png' | staticfile }}" class="logo logo-form">

            <div class="panel panel-default">
                <div class="panel-body">

                    <h4 class="text-center">Is your memory letting you down..?</h4>

                    <h5 class="text-center">We've got your back!</h5>

                    <hr>

                    <form class="form-group-lg" ng-submit="submit();">
                        <input type="email" class="form-control" ng-model="form.email" placeholder="{{ 'placeholder.enter_email' | translate }}">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">{{ 'proceed' | translate }}</button>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>